@media (max-width: 1000px) {
.image_container{
     width: 50%;
    margin-bottom: 50px;
}
hobby-container{
    width: 50%;
    margin-bottom: 50px;
}
}
@media (max-width: 670px) {
    .image_container{
        width: 100%;
    }
    hobby-container{
        width: 100%;
    }
}
